*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    background-image: url('image/Liberal_arts.jpg');
    background-size: cover;
    background-position:bottom center ;
    height: 100vh;
}
.section1 li{
    display: inline;
}
a{
    text-decoration: none;
}
a:hover{
     background-color: rgb(162, 162, 184);
}


.main{
    width: 50%;
    margin: auto;
    align-items: center;
    background-color: bisque;
    border: 1px solid red;
    padding:10px;
}


.section1 ul{
    margin: auto;
    float: right;
}

.section3{
    padding: 30px;
    background-color: black;

}
.section3 h2{
    color: white;
    margin: auto;
    text-align: center;
}
.section3 p{
    color: white;
    border: 1px solid red;
    width: 70%;
    margin: auto;
    text-align: center;
}
.links li{
    display: inline;
}
.links{
    text-align: center;
}
.links a{
    font-size: 1.7rem;
    margin: 3px;

}
.links a:hover{
    background-color: transparent;
    color: rgb(134, 40, 197);
}
i{
    color: none;
}


/* Main content section */
.section2{
    margin: auto;
    text-align: center;
}


